# Object files
*.o
*.ko
*.obj
*.elf
avmc/avmc

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Lex/Yacc
*_bison.c
*_bison.h
*_flex.c
*_flex.h

# Cscope
cscope.out
cscope.files
